body{
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

/* GLOBAL CSS */
/* GLOBAL CSS */
/* GLOBAL CSS */
.text_one{
  color: white;
  font-size: 16px;
}
.button1{
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 17px;
  background: rgba(255, 255, 255, 0.25);
}
.button2{
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  color: white;
  background-color:#54A522;
}
.button2:hover{
  background-color: #336912;
}
.button3{
  padding:5px 20px 3px 20px;
  border-radius: 10px;
  border: 1px solid #a7a49b;
  background-color:inherit;
  color: white;
  font-size: 12px;
}
.button4{
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 17px;
  background: rgba(33, 71, 33, 0.25);
}
.button3:hover{
  padding:5px 20px 3px 20px;
  border-radius: 10px;
  border: 1px solid #a7a49b;
  background-color:rgb(39, 36, 36);
  color: white;
  font-size: 12px;
}
.button5{
  height: 40px;
  width: 200px;
  border-radius: 7px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  color: white;
  background-color:#54A522;
}
.button5:hover{
  background-color: #2f640e;
}

.button6{
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #54A522;
  background-color:#ffffff;
}
.button6:hover{
  background-color:#54A522;
  color: #ffffff;
}
.button7{
  height: 40px;
  width: 40px;
  border-radius: 360px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  color: white;
  background-color:#54A522;
}
.button7:hover{
  background-color: #2f640e;
}
.basic-text1{
  font-size: 16px;
  color: white;
}
.basic-text2{
  font-size: 14px;
  color: #DEDEDE;
}
.basic-text3{
  font-size: 16px;
  color: white;
  font-weight: 600;
}
.heading1{
  font-size: 30px;
  color: #54A522;
  font-family: "Audiowide", sans-serif !important;
}
.heading2{
  font-size: 20px;
  font-weight: 500;
  color: #54A522;
}
.heading3{
  font-size: 20px;
  color: #ffffff;
}


/* NAVBAR STYLES */
/* NAVBAR STYLES */
/* NAVBAR STYLES */
.navbar-wrap{
  background-color: transparent;
  transition: background 2s;
  transition: font-size 1s;
}

.scrollNavBar{
  background: rgba(5, 5, 5, 0.7); 
  transition: background-color 3s;
  transition: background 2s;
  transition: font-size 1s;
}

.logo-img{
  width: 135px;
  transition: width 1s;
}
#scrollNavLogo{
  width: 70px;
  transition: width 1s;
}

.toggle-btn{
  background-color: #54A522 ;
}

.nav-social-icon{
  width: 20px;
}
.nav-social-icon:hover{
  opacity: 0.7;
  cursor: pointer;
}

.nav-social-container{
  margin-left: 70px;
}
.nav-link{
  margin-right: 15px;
}
.nav-link:hover{
  cursor: pointer;
}

.nav-link p:hover{
  color: #54A522;
}

.activeLink{
  color: #54A522;
}
.connect-btn{
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  width: 100px;
  background-color: rgba(129, 125, 125, 0.5);
  color: #54A522;
  padding: 3px;
}
.connect-btn:hover{
  background-color: #54A522;
  color: white;
}

.admin-btn{
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  width: 100px;
  background-color: rgba(37, 35, 35, 0.5);
  color: #ffffff;
  padding: 3px;
}
.admin-btn:hover{
  cursor: pointer;
  background-color: #000000;
  color: white;
}
.address{
  color: white;
  font-size: 14px;
  margin-right: 20px;
  margin-top: 2px;
}
/* HEADER STYLE */
/* HEADER STYLE */
/* HEADER STYLE */
.header-wrapper{
  height:auto;
  width: auto;
  padding-top:14%;
  padding-bottom: 6%;
}

.header-text1{
  color: white;
  font-size: 20px;
}
.header-text2{
  color: white;
  font-size: 18px;
}
.header-title{
  color: #54A522;
  font-size: 50px;
  font-family: "Audiowide", sans-serif !important;
}
.timer-div{
  width: 60%;
}
.timer-text1{
  font-size: 80px;
  color: white;
}
.timer-text2{
  font-size: 20px;
  color: white;
  margin-top: -20px;
}

/* MINT NFT STYLES */
/* MINT NFT STYLES */
/* MINT NFT STYLES */
.mintnft-wrapper{
  padding-bottom: 70px;
  padding-top: 160px;
}
.mint-box{
  padding: 60px 80px 40px 80px;
  border: 2px dashed #54A522;
  border-radius: 15px;
}
.mint-text1{
  font-size: 40px;
  font-weight: 900;
  color: #54A522;
}
.mint-text2{
  font-size: 14px;
  color: #A4A4A4;
  margin-top: -10px;
}
.mint-text3{
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}
.mint-text4{
  font-size: 12px;
  color: #ffffff;
}
.mint-nft-gallery{
  border-radius: 15px;
  margin-left: 30px;
  padding-top: 100px;
  padding-bottom: 100px;
}


/* ABOUT US STYLES */
/* ABOUT US STYLES */
/* ABOUT US STYLES */
.aboutus-wrapper{
  padding-bottom: 70px;
  padding-top: 70px;
}
.aboutus-left{
  padding-top: 150px;
  padding-bottom: 150px;
}

.aboutus-apes{
  width: 93%;
  margin-left: 20px;
  border-radius: 15px;
}

.about-stats-div{
  background: rgba(36, 34, 34, 0.7); 
  border-radius: 15px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.traits-icons{
  width: 40px;
  margin-left: auto;
  margin-right: auto;  
  display: block;
}
.traits-text1{
  font-size: 35px;
  font-weight: 600;
  color: white;
}
.traits-text2{
  font-size: 14px;
  color: #989898;
}
.trait-ether-icon{
  width: 15px;
  margin-left: 8px;
  margin-top: -8px;
}

/* SPECS STYLES */
/* SPECS STYLES */
/* SPECS STYLES */
.specs-wrapper{
  background-color: #111111;
  padding-top: 70px;
  padding-bottom: 70px;
}
.specs-right{
  padding-top: 30px;
}
.specs-img-ape{
  width: 80%;
}
.arrow-icon{
  width: 15px;
  margin-right: 20px;
}
.roadmap-wrapper{
  background-color: #111111;
  padding-bottom: 70px;
  padding-top: 70px;
}

/* ROADMAp STYLES */
/* ROADMAp STYLES */
/* ROADMAp STYLES */
.roadmap-title-div{
  margin-right: 20%;
  margin-left: 20%;
}

#mobileView{
display: none;    
}

.rm-mid{
  align-content: center;
}

.circle-icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.line-icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.roadmap-single-div{
  border: 1px solid rgb(145, 137, 137);
  border-radius: 10px;
  padding: 15px;
}

#rm1{
  margin-top: 0px;
}
#rm2{
  margin-top: 270px;
}
#rm3{
  margin-top: 280px;
}
#rm4{
  margin-top: 280px;
}
#rm5{
  margin-top: 330px;
}
#rm6{
  margin-top: 330px;
}


/* FAQS STYLES */
/* FAQS STYLES */
/* FAQS STYLES */
.faqs-wrapper{
  background-color: black;
  padding-top: 70px;
  padding-bottom: 60px;
}

.faq-single-div{
  border: 1px solid rgb(180, 176, 176);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.faq-text1{
  font-size: 18px;
  color: white;
  border: none;
  background-color: transparent;
  width: 100%;
  margin: auto;
  text-align: left;
  padding-right: 40px;
}

.drop-icon{
  width: 20px;
  position: absolute;
  right: 40px;
  margin-top: 2px;
}
.faq-text2{
  font-size: 14px;
  color: #A4A4A4;
  margin-top: 5px;
  width: 100%;
  margin: auto;
  text-align: left;
  margin-left: 6px;
  padding-right: 10px;
}

/* FOOTER STYLES */
/* FOOTER STYLES */
/* FOOTER STYLES */
.footer-wrapper{
  background-color: #111111;
  padding-top: 60px;
}
.footer-logo{
  width: 130px;
  margin-left: auto;
  margin-right: auto;
}
.footer-logo2{
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}
.ft-text1{
  font-size: 14px;
  color: #BCBCBC;
}
.ft-text2{
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
}
.ft-text2:hover{
  text-decoration: underline;
  cursor: pointer;
}
.ft-icon{
  width: 20px;
  margin-top: -3px;
}
#ftMobView{
  display: none !important;
}


/* GALLERY STYLES */
/* MYNFTS STYLES */
/* MYNFTS STYLES */
.mynft-wrapper
{
  background-color: #111111;
  padding-top: 140px;
  padding-bottom: 70px;
  border-bottom: 1px solid rgb(104, 94, 94);
}
.mynft-text1{
  font-size: 16px;
  color: #B1B1B1;
}
.mynft-text2{
  font-size: 16px;
  color: white;
  font-weight: 500;
}
.mynft-text3{
  font-size: 18px;
  color: white;
  font-weight: 500;
}

.card{
  background: transparent;
  border: none;
}
.card-body{
  padding-top: 20px !important;
  padding-right: 20px;
  padding-left: 20px;
}
.card-title{
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}
.ether-icon{
  width: 13px;
  margin-top: -2px;
}
.nft-price{
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  position: absolute;
  right: 5px;
  margin-top: -5px;
}
.page-link{
  color: #54A522;
}
.card-img-top{
  border-radius: 10px;
}
/* NFT DETAILS STYLES */
/* NFT DETAILS STYLES */
/* NFT DETAILS STYLES */
.details-timer-div{
  background-color: black;
  border-radius: 10px;
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
.nft-detail-img{
  width: 95%;
  border-radius: 15px;
}
.timer-div2{
  font-size: 30px;
  color: white;
}
.nft-name-text{
  font-size: 32px;
  color: white;
  font-weight: 600;
}
.detail-page-icon{
  width: 40px;
}
.detail-page-icon:hover{
  cursor: pointer;
  opacity: 0.8;
}
.ownerImg{
  width: 50px;
  border-radius: 100px;
  margin-left: -3px;
}
.owner-text{
  font-size: 18px;
  color: white;
  align-content: center;
  margin-left: 15px;
  margin-top: 10px;
}
.detail-price-text{
  font-size: 25px;
  font-weight: 600;
  color: white;
}
.detail-price-text2{
  font-size: 16px;
  color: #707070;
  margin-top: 7px;
  margin-left: 10px;
}
.nft-price-div{
  margin-top: -10px;
}
.details-btn-container{
  justify-content: start;
}

/* TEAM STYLES */
/* TEAM STYLES */
/* TEAM STYLES */
.team-wrapper{
  background-color: #111111;
  padding-top: 140px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgb(104, 94, 94);
}
.team-text1{
  font-size: 28px;
  margin-top: -5px;
}
.team-text2{
  font-size: 16px;
  margin-top: -10px;
  color: #54A522;
}
.team-img{
  border-radius: 15px;
}
.team-social-icon{
  width: 50px;
}
.team-social-icon:hover{
  width: 50px;
  opacity: 0.6;
}



/* ADMIN WRAPPER */
.admin-wrapper{
  background-color: #111111;
  padding-top: 140px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgb(104, 94, 94);
}
.admin-left{
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.admin-txt1{
  font-size: 15px;
  font-weight: 600;
  color: white;
  margin-top: 10px;
  margin-bottom: auto;
}
.admin-txt2{
  font-size: 15px;
  color: white;
  margin-top: 10px;
  margin-bottom: auto;
  margin-left: 10px;
  max-width: 68%;
}
.admin-txt3{
  font-size: 24px;
  color: white;
  font-weight: 700;
}
.input1{
  margin-left: 20px;
  border: none;
  border-radius: 6px;
  padding-left: 10px;
  width: 300px;
}
.input1::placeholder{
  font-size: 14px;
}
.spinner-loader{
  margin-top: 13px;
  margin-left: 10px;
}

/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
@media only screen and (max-width: 600px){
  .nav-social-container{
    margin-left: 0px;
  }
  .navbar-wrap{
    background-color: black;
  }
  
  .scrollNavBar{
    background: black;
  }


  .header-wrapper{
    padding-top:37%;
  }
  .header-text1{
    font-size: 18px;
  }
  .header-text2{
    color: white;
    font-size: 16px;
  }
  .header-title{
    font-size: 30px;
  }
  #headerbtn1{
    margin-right: 0% !important;
  }
  #headerbtn2{
    margin-left: 0% !important;
    margin-top: 10px;
  }
  .timer-div{
    width: 100%;
  }
  .timer-text1{
    font-size: 30px;
    color: white;
    text-align: center;
  }
  .timer-text2{
    font-size: 12px;
    color: white;
    margin-top: -20px;
    text-align: center;
  }
  .aboutus-left{
    padding-top: 0px;
    padding-bottom: 50px;
  }
  .aboutus-apes{
    width: 100%;
    margin-left: 0px;
  }
  .about-stats-div{
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
  }



  .roadmap-wrapper{
    padding-top: 30px;
  }
  #webView{
    display: none;
  }
  #mobileView{
    display: flex;
  }
  .circle-icon{
    width: 30px;
  }

  #rm2{
    margin-top: 90px;
  }
  #rm3{
    margin-top: 110px;
  }
  #rm4{
    margin-top: 130px;
  }
  #rm5{
    margin-top: 130px;
  }
  #rm6{
    margin-top: 140px;
  }



  .ft-text2{
    font-size: 14px;
    margin-left: 13px;
  }
  #ftWebView{
    display: none !important;
  }
  #ftMobView{
    display: flex !important;
  }
  .copyright-text{
    font-size: 10px !important;
  }



  .details-timer-div{
    padding: 15px;
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  } 
  .timer-div2{
    font-size: 25px;
  }
  .nftdetails-right{
    padding-left: 30px !important;
  }
  .nft-name-text{
    font-size: 25px;
    margin-top: 5px;
  }
  .details-btn-container{
    justify-content:center
  }
  #detailbtn1{
    margin-left: 0px !important;
    width: 100%;
  }
  #detailbtn2{
    margin-left: 0px !important;
    margin-top: 10px;
    width: 100%;
  }

  .mint-text2{
    font-size: 10px;
  }

}